<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container d-flex">
    <a class="navbar-brand " href="/">TechReminder</a>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.nickname %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">アカウント設定</a>
            <div class="dropdown-divider"></div>
            <%= link_to '記事の管理', posts_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規会員登録", new_user_registration_path, class: 'btn btn-outline-light' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</header>

<script>
$(function() {
  console.log("OK");
});
</script>