<!DOCTYPE html>
<html>
  <head>
    <title>TechReminder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="front_modal">
    <div class="row">
      <div class="col-md-6 col-sm-10 mx-auto mt-5">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
