<!DOCTYPE html>
<html>
  <head>
    <title>TechReminder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'front/shared/header' %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render 'front/shared/footer' %>
  </body>
</html>
